<h2>List of Models
</h2>
<table>
    <tr *ngFor = "let car of cars">
        <td>
            <img src = "{{car?.model.imgSrc}}" alt = "{{car?.model.imgAlt}}" style = "width:400px;height:400px;" />
        </td>
        <td>
            <h2>{{car?.year}} Automati {{car?.model.name | lowercase}}</h2>
            <p>This will be the car details!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
            
            <p><button (click)="viewDetails(car?.id)">View Details</button></p>
        </td>
    </tr>
</table>

