<div class = "list">

    <div class = "list__header-box">
        <h1 class = "list__header-text">List of Models</h1>
    </div>

    <table>
        <tr *ngFor = "let car of cars">
            <td>
                <img src = "{{car?.model.imgSrc}}" alt = "{{car?.model.imgAlt}}" />
            </td>
            <td>
                <h2>{{car?.year}} Automati {{car?.model.name | lowercase}}</h2>
                
                <br>
                <p>{{car?.model.description}}</p>
        
            </td>
            <td>
                <button (click)="viewDetails(car?.id)">View Details</button>
            </td>
        </tr>
    </table>

</div>




