<div class="shipping">
  <div class="shipping__header-box">
    <h2 class="shipping__header-text">Select Previous Shipping Addresses</h2>
  </div>

  <form (ngSubmit)="onSubmit2(f2)" #f2="ngForm" ngNativeValidate>
    <table>
      <tr *ngFor="let shipping of shippings">
        <td>
          <p>
            <input type="radio" name="id" value="{{shipping?.id}}" class="shipping__radio-button clearfix" ngModel required/>
          </p>

          <p>
            Name:{{shipping?.firstName}} {{shipping?.lastName}}
          </p>
          <p>
            Address: {{shipping?.street}}
          </p>

          <p>
            City: {{shipping?.city}}

          </p>

          <p>
            State: {{shipping?.state.name}}
          </p>
        </td>
      </tr>
    </table>

    <button class="button_confirm" type="submit">Confirm</button>

  </form>

  <button (click)="showOrHide()" class="button_add">Add Or Hide New Shipping Address</button>


  <div *ngIf="show" class="new_shipping">
    <h2>Enter Shipping Information</h2>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>

      <div class="row">
        <div class="col-25">
          <label class="input_label">First Name: </label>
        </div>

        <div class="col-75">
          <input name="firstName" type="text" class="input_text" ngModel required/>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label class="input_label">Last Name: </label>
        </div>

        <div class="col-75">
          <input name="lastName" type="text" class="input_text" ngModel required/>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label class="input_label">Street: </label>
        </div>

        <div class="col-75">
          <input name="street" type="text" class="input_text" ngModel required/>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label class="input_label">City: </label>
        </div>
        <div class="col-75">
          <input name="city" type="text" class="input_text" ngModel required/>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label class="input_label">State: </label>
        </div>
        <div class="col-75">
          <select class="input_select" name="state" (ngModelChange)="stateSelect($event)" ngModel>
            <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div *ngIf="zipcodes !== undefined; else ChoseState">
          <div class="col-25">
            <label class="input_label">Zip Code: </label>
          </div>
          <div class="col-75">
            <select name="zipcode" class="input_select" ngModel>
              <option *ngFor="let zipcode of zipcodes" [ngValue]="zipcode">{{ zipcode.code }}</option>
            </select>
          </div>
        </div>
        <ng-template #ChoseState>Please chose a state</ng-template>
      </div>

      <button type="submit" class="button_confirm">Add Shipping Address</button>
    </form>
  </div>

</div>