<div class = "login" id = "login--main">
  <div class = "login__form-box">
      <div class = "login__header-box">
          <h2 class = "login__header-text">Login to your Automati Account</h2>          
      </div>
            
      <form (ngSubmit) = "onSubmit(f)" #f = "ngForm" class = "login__form">
        <div class = "login__element">
            <label class = "login__label">Email: </label>
            <input name = "email" type = "text" class = "login__input" ngModel/>
        </div>
      
        <div class = "login__element">
            <label class = "login__label">Password: </label>
            <input name = "password" type = "password" class = "login__input" ngModel/>
        </div>
        
        <div class = "login__element">
            <button class = "login__button login__button--green" type = "submit">Login</button>            
        </div>
      </form>
  </div>
</div>
