<div class = "login">
  <div class = "login__form-box">
      <div class = "login__header-box">
          <h2 class = "login__header-text">Login to your Automati Account</h2>          
      </div>
            
      <form (ngSubmit) = "onSubmit(f)" #f = "ngForm" class = "login__form" ngNativeValidate>
        <div class = "login__element">
            <label class = "login__label">Email: </label>
            <input name = "email" type = "text" class = "login__input" ngModel required/>
        </div>
      
        <div class = "login__element">
            <label class = "login__label">Password: </label>
            <input name = "password" type = "password" class = "login__input" ngModel required/>
        </div>
        
        <div class = "login__element-center">
            <button class = "login__button login__button--green" type = "submit">Login</button>     
            <button class = "login__button login__button--green" (click) = "passwordReset()">Reset Password</button>
        </div>

      </form>
  </div>
</div>
