<div class = "models" id = "models--main">
  <div class = "models__header-box">
    <h1 class = "models__header-text">Choose BY MODEL</h1>
  </div>

    <table>
          <tr *ngFor = "let model of models">
                  <td>
                      <img src = "{{model.imgSrc}}" alt = "{{model.imgAlt}}" class = "models__img"/>  
                  </td>

                  <td>
                      <h3>The {{model?.name | lowercase}}</h3>
                      <p>{{model?.description}}</p>
                  </td>
                
                  <td>
                      <button (click) = "getModel(model?.name)" class = "models__but">{{model?.name | lowercase}}</button>
                  </td>
            </tr>
</table>
</div>
    


