<div class="forgot_password">
    <h1>Reset Password with Email</h1>
    <form (ngSubmit) = "onSubmit(f)" #f = "ngForm" class = "forgot_password__form" ngNativeValidate>
        
        <div class="row">
            <div class="col-25">
                <label>Enter email: </label>
            </div>

            <div class="col-75">
                <input name = "email" type = "email" ngModel required/>
            </div>
        </div>
        
        <div class="row">
            <input type="submit" value="Send Email">
        </div>
      
      </form>
</div>
