<div class="models" id="models--main">
    <div class="models__header-box">
        <div *ngIf="isLoggedIn; else notLogged">
            <h1 class="models__header-text">Choose By Model</h1>
        </div>
        <ng-template #notLogged>
            <h1 class="models__header-text">Please Login To Continue</h1>
        </ng-template>
    </div>

    <table>
        <tr *ngFor="let model of models">
            <td>
                <img src="{{model.imgSrc}}" alt="{{model.imgAlt}}" class="models__img" />
            </td>

            <td>
                <h3>The {{model?.name | lowercase}}</h3>
                <p>{{model?.description}}</p>
                <p>Starting At: ${{model?.modelStockPrice}}</p>
            </td>

            <td>
                <button (click)="getModel(model?.name)" class="models__but">Build And Price</button>
            </td>
        </tr>
    </table>
</div>