@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

::selection {
  background-color: #55c57a;
  color: #fff; }

.register {
  position: absolute;
  width: 100%;
  background-image: url("http://www.spyderonlines.com/images/highway_cars_city_traffic_buildings_black_white_25566.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 95.4vh; }
  .register#register--main {
    margin: 0 auto;
    width: 50rem; }
  .register__header-text {
    font-size: 2rem; }
  .register__header-box {
    text-align: center;
    height: 5rem; }
  .register__form {
    height: 40rem;
    background-color: #2998ff;
    border: 1rem solid #28b485;
    border-radius: 1rem;
    margin: auto; }
    .register__form:first-child {
      margin-top: 1rem; }
  .register__form-box {
    height: 50rem;
    position: relative;
    width: 50rem;
    margin: 0 auto; }
  .register__element {
    height: 3.5rem; }
    .register__element:first-of-type {
      margin-top: 1rem; }
  .register__label {
    width: 2rem;
    font-size: 1rem;
    margin-left: 1rem;
    color: #fff; }
  .register__input {
    height: 1.5rem;
    display: block;
    font-size: 1rem;
    border: none;
    border-bottom: 3px solid transparent;
    margin: 0 auto;
    width: 95%; }
    .register__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
  .register__select {
    width: 10rem;
    height: 1.5rem;
    text-align: right; }
  .register__button {
    text-transform: uppercase;
    margin-top: 2rem;
    text-decoration: none;
    padding: 12px 20px;
    display: block;
    border-radius: 4px;
    font-size: .8rem;
    border: none;
    margin: 0 auto;
    width: 15%; }
    .register__button--green {
      background-color: #55c57a;
      color: #fff; }
      .register__button--green::after {
        background-color: #55c57a; }
    .register__button:link, .register__button:visited {
      transition: all .2s; }
    .register__button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.header {
  display: block;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #001f3f; }
  .header__nav {
    text-align: right;
    padding: 20px; }
  .header h1 {
    float: left;
    margin: 1rem;
    color: white; }
  .header__elements {
    background-color: #001f3f;
    text-align: right;
    display: inline;
    position: absolute;
    right: 0;
    padding: 1rem; }
  .header__link {
    text-decoration: none;
    color: #fff; }
    .header__link:link, .header__link:visited {
      transition: all .2s; }
    .header__link:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .header__button {
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: #2998ff; }
    .header__button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .header__items {
    display: inline-block;
    font-size: 1rem;
    background-color: #2998ff;
    padding: .5rem 3rem;
    color: #fff;
    border-radius: 1rem; }
    .header__items:not(::last-of-type) {
      margin-right: .5rem; }
    .header__items:link, .header__items:visited {
      transition: all .2s; }
    .header__items:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.login {
  position: absolute;
  width: 100%;
  background-image: url("http://blog.hdwallsource.com/wp-content/uploads/2015/05/toy-car-wallpaper-39199-40102-hd-wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 95.4vh; }
  .login#login--main {
    margin: 0 auto;
    width: 50rem; }
  .login__header-text {
    font-size: 2rem; }
  .login__header-box {
    text-align: center;
    height: 5rem;
    color: #333; }
  .login__form {
    height: 30rem;
    background-color: #2998ff;
    border: 1rem solid #28b485;
    margin: auto; }
    .login__form:first-child {
      margin-top: 1rem; }
  .login__form-box {
    height: 30rem;
    position: relative;
    width: 50rem;
    margin: 0 auto; }
  .login__element {
    height: 3.5rem; }
    .login__element:first-of-type {
      margin-top: 1rem; }
    .login__element-center {
      text-align: center; }
  .login__label {
    width: 2rem;
    font-size: 1rem;
    margin-left: 1rem;
    color: #fff; }
  .login__input {
    height: 1.5rem;
    display: block;
    font-size: 1rem;
    border: none;
    border-bottom: 3px solid transparent;
    margin: 0 auto;
    width: 95%; }
    .login__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
  .login__button {
    text-transform: uppercase;
    margin-top: 2rem;
    text-decoration: none;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
    font-size: .8rem;
    border: none; }
    .login__button--green {
      background-color: #55c57a;
      color: #fff; }
      .login__button--green::after {
        background-color: #55c57a; }
    .login__button:link, .login__button:visited {
      transition: all .2s; }
    .login__button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.lp .container {
  width: 100%;
  height: 100%;
  background: #333; }

.lp h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap; }

.lp .button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%); }

.lp .split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden; }
  .lp .split.left .button:hover {
    background-color: rgba(161, 11, 11, 0.3);
    border-color: rgba(161, 11, 11, 0.3); }
  .lp .split.right .button:hover {
    background-color: rgba(92, 92, 92, 0.3);
    border-color: rgba(92, 92, 92, 0.3); }
  .lp .split.left {
    left: 0;
    background: url("https://images.pexels.com/photos/70912/pexels-photo-70912.jpeg?w=1920&h=1080&auto=compress&cs=tinysrgb") center center no-repeat;
    background-size: cover; }
    .lp .split.left:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(223, 39, 39, 0.7); }
  .lp .split.right {
    right: 0;
    background: url("https://images.pexels.com/photos/305223/pexels-photo-305223.jpeg?w=1920&h=1080&auto=compress&cs=tinysrgb") center center no-repeat;
    background-size: cover; }
    .lp .split.right:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(43, 43, 43, 0.8); }
  .lp .split.left {
    transition: 1000ms all ease-in-out; }
  .lp .split.right {
    transition: 1000ms all ease-in-out; }
    .lp .split.right:before {
      transition: 1000ms all ease-in-out; }
  .lp .split.left:before {
    transition: 1000ms all ease-in-out; }

.lp .hover-left .left {
  width: 75%; }

.lp .hover-left .right {
  width: 25%; }
  .lp .hover-left .right:before {
    z-index: 2; }

.lp .hover-right .right {
  width: 75%; }

.lp .hover-right .left {
  width: 25%; }
  .lp .hover-right .left:before {
    z-index: 2; }

@media (max-width: 800px) {
  .lp h1 {
    font-size: 2rem; }
  .lp .button {
    width: 12rem; } }

@media (max-height: 700px) {
  .lp .button {
    top: 70%; } }

.models__header-text {
  font-size: 2rem; }

.models__header-box {
  text-align: center;
  height: 5rem;
  margin-top: 1rem;
  color: #5643fa; }

.models table {
  border-collapse: collapse;
  margin: auto; }
  .models table td {
    vertical-align: middle;
    border-bottom: 1px solid #ddd; }

.models__but {
  padding: 1rem 3rem;
  background-color: #2998ff;
  border-radius: 1rem;
  vertical-align: middle;
  margin-left: 1cm; }

.payment {
  /* Clear floats after the columns */ }
  .payment__header-text {
    font-size: 2rem; }
  .payment__header-box {
    text-align: center;
    color: #fff; }
  .payment .new-card {
    background-color: #eee;
    height: 100%; }
  .payment .input_text {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; }
  .payment .input_label {
    padding: 12px 12px 12px 0;
    display: inline-block; }
  .payment .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px; }
  .payment .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px; }
  .payment .row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 1cm; }
  .payment table {
    border-collapse: collapse;
    width: 100%; }
    .payment table tr th {
      padding: 15px;
      border: 1px solid #ddd; }
    .payment table tr td {
      padding: 15px;
      border: 1px solid #ddd; }
  .payment label {
    width: 2rem;
    font-size: 1rem; }
  .payment .button_confirm {
    padding: .5rem 3rem;
    background-color: #5643fa;
    border-radius: 1rem;
    margin-top: .5rem;
    float: right; }
  .payment .button_add {
    padding: .5rem 3rem;
    background-color: #28b485;
    border-radius: 1rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem; }

.shipping {
  /* Clear floats after the columns */ }
  .shipping__header-text {
    font-size: 2rem; }
  .shipping__header-box {
    text-align: center;
    color: #fff; }
  .shipping table {
    border-collapse: collapse;
    width: 100%; }
    .shipping table tr th {
      padding: 15px;
      border: 1px solid #ddd; }
    .shipping table tr td {
      padding: 15px;
      border: 1px solid #ddd; }
  .shipping label {
    width: 2rem;
    font-size: 1rem; }
  .shipping .button_confirm {
    padding: .5rem 3rem;
    background-color: #5643fa;
    border-radius: 1rem;
    margin-top: .5rem;
    float: right; }
  .shipping .button_add {
    padding: .5rem 3rem;
    background-color: #28b485;
    border-radius: 1rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem; }
  .shipping .new-shipping {
    background-color: #eee;
    height: 100%; }
  .shipping .input_text {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; }
  .shipping .input_select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; }
  .shipping .input_label {
    padding: 12px 12px 12px 0;
    display: inline-block; }
  .shipping .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px; }
  .shipping .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px; }
  .shipping .row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 1cm; }

.list__header-text {
  font-size: 2rem; }

.list__header-box {
  text-align: center;
  height: 5rem;
  margin-top: 1rem;
  color: #ff7730; }

.list table {
  border-collapse: collapse;
  margin: auto; }
  .list table td {
    vertical-align: middle;
    border-bottom: 1px solid #ddd; }

.list button {
  padding: 1rem 3rem;
  background-color: #2998ff;
  border-radius: 1rem;
  vertical-align: middle;
  margin-left: 1cm; }

.car-detail {
  margin: 2cm 4cm 0cm 4cm; }
  .car-detail__header-text {
    font-size: 2rem; }
  .car-detail__header-box {
    text-align: center;
    height: 5rem;
    margin-top: 1rem;
    color: #28b485; }
  .car-detail .car-img {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .car-detail ul {
    list-style-type: none; }
    .car-detail ul li {
      margin-top: 2.5rem; }
  .car-detail table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 1cm; }
    .car-detail table td {
      border: 1px solid #ddd;
      text-align: left;
      padding: 15px; }
  .car-detail .reviews {
    margin-top: 3cm; }
  .car-detail .pre-detail h2 {
    text-align: center; }
  .car-detail .pre-detail h3 {
    text-align: center; }
  .car-detail button {
    float: right;
    padding: 1rem 3rem;
    background-color: #2998ff;
    border-radius: 1rem;
    margin-top: 1cm;
    margin-bottom: 1cm; }
  .car-detail .stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 30px; }
    .car-detail .stars-container:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '★★★★★';
      color: lightgray; }
    .car-detail .stars-container:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '★★★★★';
      color: gold;
      overflow: hidden; }
  .car-detail .stars-0:after {
    width: 0%; }
  .car-detail .stars-10:after {
    width: 10%; }
  .car-detail .stars-20:after {
    width: 20%; }
  .car-detail .stars-30:after {
    width: 30%; }
  .car-detail .stars-40:after {
    width: 40%; }
  .car-detail .stars-50:after {
    width: 50%; }
  .car-detail .stars-60:after {
    width: 60%; }
  .car-detail .stars-70:after {
    width: 70%; }
  .car-detail .stars-80:after {
    width: 80%; }
  .car-detail .stars-90:after {
    width: 90%; }
  .car-detail .stars-100:after {
    width: 100%; }

.buy__header-text {
  font-size: 2rem; }

.buy__header-box {
  text-align: center;
  height: 5rem;
  margin-top: 1rem;
  color: #ff7730; }

.buy table {
  border-collapse: collapse;
  margin: auto; }
  .buy table tr td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; }

.buy .button_confirm {
  padding: .5rem 3rem;
  background-color: #5643fa;
  border-radius: 1rem;
  margin-top: .5rem;
  float: right; }
