.register {
    position: absolute;
    width: 100%;
    background-image: url("http://www.spyderonlines.com/images/highway_cars_city_traffic_buildings_black_white_25566.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 95.4vh;
    
    &#register--main {
        @include centerBoxElement(50rem);
    }

    &__header-text {
        font-size: 2rem;
        background-color: $color-primary;
        margin-top: 1rem;
        color: $color-white;
    }

    &__header-box {
       text-align: center;
       height: 5rem;
    }

    &__form {
        height: 40rem;
        background-color: $color-tertiary-light;
        border: 1rem solid $color-primary-dark;
        //width: 40%;
        //margin-left: 4rem;
        border-radius: 1rem;
        margin: auto;
        &:first-child {
            margin-top: 1rem;
        }
    }

    &__form-box {
        //background-color: $color-primary-light;
        //border: .3rem solid $color-tertiary-light;
        //margin-top: 1rem;
        height: 50rem;
        position: relative;
        width: 50rem;
        margin: 0 auto;

    }

    &__element {
        &:first-of-type {
            margin-top: 1rem;
        }
        height: 3.5rem;
    }

    &__label {
        width: 2rem;
        font-size: 1rem;
        margin-left: 1rem;
        color: $color-white;
    }

    &__input {
        height: 1.5rem;
        display: block;
        font-size: 1rem;
        border: none;
        border-bottom: 3px solid transparent;
        @include centerBoxElement(95%);

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

    }

    &__select {
        width: 10rem;
        height: 1.5rem;
        text-align: right;
    }

    &__button {
        text-transform: uppercase;
        margin-top: 2rem;
        text-decoration: none;
        padding: 12px 20px;
        display: block;
        border-radius: 4px;
        font-size: .8rem;
        border: none;
        @include centerBoxElement(15%);

        &--green {
            background-color: $color-primary;
            color: $color-white;
    
            &::after {
                background-color: $color-primary;
            }
        }

        &:link, &:visited {
            transition: all .2s;
            
        }

        &:hover{
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
        }
    }

    // for tablets and mobile phones
    @media (max-width: 840px){
        &__form-box {
            width: 100%;
        }

        &__header-text {
            font-size: 1rem;
        }
    }

}