.buy{
    background: $color-grey-light;
    height: 95vh;

    &__header-text {
        font-size: 2rem;
    }

    &__header-box {
        text-align: center;
        height: 5rem;
        //margin-top: 1rem;
        //color: $color-secondary-dark;
    }
    table {
        border-collapse: collapse;
        margin: auto;

        tr {
            td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .button_confirm {
        padding: .5rem 3rem;
        background-color: $color-tertiary-dark;
        border-radius: 1rem;
        margin-top: .5rem;
        float: right;
    }

    @media(max-width: 750px) {
        width: 100%; 
        height: 100%;
        &__header-text {
            font-size: 2rem;
            margin-top: .5rem;
        }
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
    }
}