.buy{
    
    &__header-text {
        font-size: 2rem;
    }

    &__header-box {
        text-align: center;
        height: 5rem;
        margin-top: 1rem;
        color: $color-secondary-dark;
    }
    table {
        border-collapse: collapse;
        margin: auto;

        tr {
            td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .button_confirm {
        padding: .5rem 3rem;
        background-color: $color-tertiary-dark;
        border-radius: 1rem;
        margin-top: .5rem;
        float: right;
    }

}