.models {

    background: $color-grey-light;
    height: 95vh;
   
    &__header-text {
        font-size: 2rem;
    }

    &__header-box {
        text-align: center;
        height: 5rem;
       // margin-top: 1rem;
        //color: $color-tertiary-dark;
    }

    table {
        border-collapse: collapse;
        margin: auto;

        td {
            vertical-align: middle;
            border-bottom: 1px solid #ddd;
        }
    }


    &__but {
        padding: 1rem 3rem;
        background-color: $color-tertiary-light;
        border-radius: 1rem;
        vertical-align: middle;
        margin-left: 1cm;
    }

    // for tablets and mobile phones
    @media (max-width: 1160px){
        width: 100%;
        //margin-top: .5rem;
        height: 100%;
        
        &__img{
            width: 325px;
            //height: 400px;
        }

        
        table {
            tr {
                border-bottom: 1px solid #ddd;
                margin-bottom: 1rem;
            }
            td {
                border-bottom: none;
                text-align: center;
            }
        }
         /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        &__but {
            margin: 0;
        }
    }
   
}