.models {

    background-color: $color-grey-dark-2;

    &#lp--main {
       
    }

    &__header-text {
        font-size: 2rem;
    }

    &__header-box {
        text-align: center;
        height: 5rem;
        margin-top: 1rem;
        color: $color-tertiary-dark;
    }

    table {
        border-collapse: collapse;
        margin: auto;

        td {
            vertical-align: top;
            border-bottom: 1px solid #ddd;
        }
    }


    &__img {
        width: 400px;
        height: 400px;
    }

    &__but {
        width: 4.375rem;
        height: 1.875rem;
    }

   
}