.models {
    &#lp--main {
        @include centerBoxElement(50rem);
    }

    &__header-text {
        font-size: 2rem;
    }

   

    &__header-box {
        text-align: center;
        height: 5rem;
        margin-top: 1rem;
        color: $color-tertiary-dark;
    }

    &__list {
        ul {

        }

        li {
            display: inline-block;
            width: 29%;
            padding: 2%;
        }

        span {
            display: block;
            text-align: center;
        }

    }

}