.profile {
    .container {
        width: 100%;
    }
    .left {
        float: left;
        width: 33%;
    }
    
    /*
    .details {
        
        margin-top: 2cm;
        height: 10cm;
        padding-top: 5cm;
        padding-left: 1cm;
        width: 70%;
    }
    */
    .right {
        float: right;
        width: 50%;
        text-align: center;
    }
    
    @media(max-width: 1200px) {
        .left {
            float: none;
            margin: auto;
            width: 50%;
    
        }
        img {
            width: 400px;
        }
        .right {
            float: none;
            margin: auto;
            width: 50%;
        }
    }
}