<div class = "lp" id = "lp--main">
  <div class = "lp__header-box">
    <h1 class = "lp__header-text">Welcome to Automati!</h1>    
  </div>

  <div class = "container">
    <div class = "lp__new-box">
      <div class = "lp__element">
        <a href = "" routerLink = "/new" routerLinkActive = "active" class = "lp__link lp__link--green">New Inventory</a>
      </div>
    </div>
    <div class = "lp__used-box">
      <div class = "lp__element">
        <a href = "" routerLink = "/used" routerLinkActive = "active" class = "lp__link lp__link--green">Used Inventory</a>
      </div> 
    </div>
  </div>
</div>