<div class = "lp">

  <div class = "container" #con>

    <div class = "split left" (mouseenter)="onEnter('left')" (mouseleave)="onLeave('left')">
        <h1>New Cars</h1>
        <a href = "" routerLink = "/new" routerLinkActive = "active" class = "button">New Inventory</a>
    </div>
  
    <div class = "split right" (mouseenter) = "onEnter('right')" (mouseleave)="onLeave('right')">
        <h1>Used Cars</h1>
        <a href = "" routerLink = "/used" routerLinkActive = "active" class = "button">Used Inventory</a>
    </div>

  </div>
</div>

