.container {
    width: 100%;
}
.left {
    float: left;
    width: 33%;
}

.details {
    margin-top: 2cm;
    background-color: grey;
    height: 10cm;
    padding-top: 5cm;
    padding-left: 1cm;
    width: 70%;
}
.cars {
    float: right;
    width: 50%;
}

p {
    color: floralwhite;
}