<div class = "car-detail">
    <div class = "car-detail__header-box">
        <h1 class = "car-detail__header-text">Car Details</h1>
    </div>

    <h2>{{car?.condition.type}} {{car?.year}} Automati {{car?.model.name}}</h2>

    <h3>Price: ${{car?.price}} USD</h3>

    <img src = "{{car?.model.imgSrc}}" alt = "{{car?.model.imgAlt}}" />

    <table>
        <tr>
            <td>
                <p>Basics</p>
            </td>
    
            <td>
                <p>Mileage: {{car?.mileage}}</p>
                <p>Transmission: {{car?.transmission.name}}</p>
                <p>Title {{car?.title}}</p>
                <p>Color: {{car?.color.name}}</p>
            </td>
    
            <td>
                <p>Vin: {{car?.vin}}</p>
                <p>MPG: EPA</p>
            </td>
        </tr>
     </table>

     <br>
     <br>
     
      <button (click) = "buyCar()">Buy Car!</button>

      <br>
      <br>
     
     
      <h3>Users' Reviews</h3>
</div>



        
 
