<div class = "car-detail">
    <div class = "car-detail__header-box">
        <h1 class = "car-detail__header-text">Car Details</h1>
    </div>

    <div class="pre-detail">
            <h2>{{car?.condition.type}} {{car?.year}} Automati {{car?.model.name}}</h2>

            <h3>Price: ${{car?.price}} USD</h3>
    </div>
    

    <div class="car-img">
        <img src = "{{car?.model.imgSrc}}" alt = "{{car?.model.imgAlt}}" />
    </div>

    <h2 style="text-align:center;">Info</h2>
    <table>
        <tr>
            <td>
                Mileage: {{car?.mileage}}
            </td>
            <td>
                Transmission: {{car?.transmission.name}}
            </td>
        </tr>

        <tr>
            <td>
                Title: {{car?.title}}
            </td>
            <td>
                Color: {{car?.color.name}}
            </td>
        </tr>

        <tr>
            <td>
                Vin: {{car?.vin}}
            </td>
            <td>
                MPG: EPA
            </td>
        </tr>

        <tr>
            <td>
                Engine: {{car?.engine.litres}} L {{car?.engine.cylinders}} cylinders
            </td>
        </tr>
    </table>
     
     
      <button (click) = "buyCar()">Buy Car!</button>

      
     <div class="reviews">
            <h1>User's Reviews</h1>

            
            <ul>
                <li *ngFor = "let review of reviews">
                      <h2>Title: {{review?.title}}</h2>
                      <h4>{{review?.car.year}} Automati {{review?.model.name}}</h4>
                      <span class = "stars-container stars stars-{{review?.rating}}">★★★★★</span>
                      <p>{{review?.description}}</p>
                      <p>{{review?.person.firstName}} wrote on {{review?.time}}</p>
                </li>
                
                <br>
                <br>
                
            </ul>
     </div>
     

</div>



        
 
