<div class = "payment">
    <div class = "payment__header-box">
        <h2 class = "payment__header-text">Saved Cards</h2>
    </div>

    <form (ngSubmit) = "onSubmit2(f2)" #f2 = "ngForm">
        <table>
          <tr>
            <th>Select</th>
            <th>Credit Card Number</th>
            <th>Expiration Date</th>
            <th>CSC</th>
          </tr>
          <tr *ngFor = "let creditCard of creditCards">
            
            <td>
              <input type = "radio" name = "card" value = "{{creditCard?.id}}" ngModel/>
            </td>
      
            <td>
              {{creditCard?.number}}
            </td>
      
            <td>
              {{creditCard?.expDate}}
            </td>
      
            <td>
              {{creditCard?.csc}}
            </td>
          </tr>
        </table>
      
      <button class = "button_confirm" type = "submit">Confirm</button>
      </form>
      
      <button class = "button_add" (click) = "showOrHide()">Add Or Hide New Card</button>
      
        <div *ngIf = "show" class = "new_card">
      
          <h3>Add New Card</h3>
            <form (ngSubmit) = "onSubmit(f)" #f = "ngForm" ngNativeValidate>
      
              <div class="row">
                <div class="col-25">
                  <label class = "input_label">Number: </label>
                </div>

                <div class="col-75">
                  <input class = "input_text" name = "number" type = "text" ngModel required/>
                </div>
              </div>

              <div class="row">
                <div class="col-25">
                  <label class = "input_label">Expiration Date: </label>
                </div>

                <div class="col-75">
                  <input name = "expDate" type = "text" class = "input_text" ngModel required/>
                </div>
              </div>

              <div class="row">
                <div class="col-25">
                  <label class="input_label">CSC: </label>
                </div>
                <div class="col-75">
                  <input name = "csc" type = "text" class = "input_text" ngModel required/>
                </div>
              </div>
              
              <button class = "button_confirm" type = "submit">Add Card</button>
              
              </form>
        </div>
      
</div>




