<div class="password-reset">
    <h1>Reset Password</h1>
    <form (ngSubmit) = "onSubmit(f)" #f = "ngForm" class = "form_reset" ngNativeValidate>

        <div class="row">
            <div class="col-25">
                <label>Password: Minimum 8 characters & at least one letter & one number </label>
            </div>
            <div class="col-75">
                <input pattern = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name = "password" type = "password" minlength="6" maxlength="30" ngModel required>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>Confirm Password: Minimum 8 characters & at least one letter & one number </label>
            </div>
            
            <div class="col-75">
                <input pattern = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name = "confirmPassword" type = "password" minlength="6" maxlength="30" ngModel required>         
            </div>
        </div>

        <div *ngIf = "!isValid">
            <p>Passwords dont match!</p>
        </div>
        <div class="row">
            <input type = "submit" value = "Reset Password">
        </div>
        
    </form>
</div>
