<div class="register" id="register--main">
<div class="register__form-box">
    <div class="register__header-box">
    <h2 class="register__header-text">Register for a Automati Account</h2>
    </div>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm" class="register__form">
    <div class="register__element">
    <label class="register__label">First Name: </label>
    <input name = "firstName" type = "text" class = "register__input" ngModel/>
    </div>
    <div class="register__element"> 
    <label class="register__label">Last Name: </label>
    <input name = "lastName" type = "text" class = "register__input" ngModel/>
    </div>
    <div class="register__element">
    <label class="register__label">Email: </label>
    <input name = "email" type = "text" class = "register__input" ngModel/>
    </div>
    <div class="register__element">
    <label class="register__label">Address: </label>
    <input name = "street" type = "text" class = "register__input" ngModel/>
    </div>
    <div class="register__element">
    <label class="register__label">City: </label>
    <input name = "city" type = "text" class = "register__input" ngModel/>
    </div>
    <div class="register__element">
    <label class="register__label">State: </label>
    <select name="state" (ngModelChange)="stateSelect($event)" ngModel class="register__select">
      <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
    </select>
    </div>
  <div *ngIf="zipcodes !== undefined; else ChoseState" class="register__element">
    <label class="register__label">Zip Code: </label>
    <select name="zipcode" ngModel class="register__select">
      <option *ngFor="let zipcode of zipcodes" [ngValue]="zipcode">{{ zipcode.code }}</option>
    </select>
  </div>
  <ng-template #ChoseState > 
    <div class="register__element">
      <label class="register__label">
    Please chose a state
      </label>
    </div>
  </ng-template>
  <div class="register__element">
    <label class="register__label">Password: </label>
    <input name = "password" type = "password" class = "register__input" ngModel/>
  </div>
  <div class="register__element">
  <button type = "submit" class="register__button register__button--green">Register</button>
  </div>
</form>
</div>
</div>