<h1>Confirm your order!</h1>

<h2>Car's Info</h2>
<ul>
  <li>Year: {{car?.year}}</li>
  <li>Model: {{car?.model.name}}</li>
  <li>Transmission Type: {{car?.transmission.name}}</li>
  <li>Condition: {{car?.condition.type}}</li>
  <li>Title: {{car?.title}}</li>
  <li>Mileage: {{car?.mileage}} </li>
  <li>Color: {{car?.color.name}}</li>
</ul>

<h1>Shipping Information</h1>
<ul>
  <li> Name: {{user?.firstName}} {{user?.lastName}}</li>
  <li>Address: {{user?.street}}</li>
  <li>State: {{user?.state?.name}}</li> 
</ul>


<button (click)="confirmOrder()">Confirm Order!</button>